{% extends 'base.html.twig' %}

{% block title %}Hello ParticipantController!{% endblock %}

{% block body %}


<div >
    <h1>Filtrer les sorties</h1>
    <div>
        <div>

        </div>
    </div>
</div>
{% endblock %}
