.my-custom-scrollbar {
    position: relative;
    height: 200px;
    overflow: auto;
}
.table-wrapper-scroll-y {
    display: block;
}

/* liste utilisateurs */
.my-custom-scrollbar-list-users {
    overflow: auto;
    height: 350px;
}
.my-custom-scrollbar-list-users thead th {
    position: sticky;
    top: 0;
    z-index: 1;
    background: #DDDDDD;
}


.vue-max{
    height: 90%   ;
}
.my-custom-scrollbar-list-recherche {
    position: relative;
    height: 350px;
    overflow: auto;
}
body{
    height: 20%   ;
}
.no-padding {
    padding: 0;
}
.navbar{

}





