
<!-- Choix des codes postaux proposé par la requete AJAX -->

{#<option value=""> </option>#}
{% for ville in villes %}
    <option value="{{ ville.id }}">{{ ville.codePostal }}</option>
{% endfor %}





