<!-- Navbar for menu -->

<nav class="navbar navbar-light bg-light">
    <div class="container-fluid justify-content-start">
        <a class="btn btn-outline-success me-2" href="{{ path('main_home') }}">Accueil</a>
        <a class="btn btn-outline-secondary me-2"href="{{ path('#') }}">Mon profil</a>
        <a class="btn btn-outline-secondary me-2"href="{{ path('#') }}">Se déconnecter</a>
    </div>
</nav>